@page "/carte"
@inject CarteService CarteService
@inject NavigationManager NavigationManager
<h3>Listes des cartes</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nom de carte</th>
            <th>Nombre de fois jouées</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VCarteStat c in cartes)
        {
            <tr>
                <td>@c.nom</td>
                <td>@c.NombreDeFoisJouee</td>
            </tr>
        }
    </tbody>
</table>

@code {
    VCarteStat[]? cartes;
    protected override void OnInitialized()
    {
        cartes = CarteService.GetVCarteStat();    
    }
}
