@page "/equipe"
@inject EquipeService EquipeService
@inject NavigationManager NavigationManager
<h3>Listes des équipes 
    <a class="btn btn-primary" href="equipe/add">
        <span class="oi oi-plus"></span>
    </a>
</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nom équipe</th>
            <th>Élo</th>
            <th>Région</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Equipe e in equipes)
        {
            <tr>
                <td>@e.Nom</td>
                <td>@e.Elo</td>
                <td>@e.Region</td>
                <td>
                    <a class="btn btn-light" href="equipe/@e.Id"><span class="oi oi-magnifying-glass"></span></a>
                    <a class="btn btn-light" href="equipe/update/@e.Id"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-danger" href="equipe/delete/@e.Id"><span class="oi oi-delete"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    Equipe[]? equipes;
    protected override void OnInitialized()
    {
        equipes = EquipeService.GetAll();
    }
}
